* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Baloo Tammudu 2;
}

p, li {
    color: rgba(0, 0, 0, 0.856);            
}
.descrition{
    color: black;
}

#main-title {
    color: ;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: -1px;
}

.section-title{
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
}

.button{
    background-color:rgba(0, 139, 139, 0.781);
    border-radius: 4px;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.picture{
    border-radius: 50%;
}

.header {
    background-color: palegreen;
    background-size: cover;
    padding: 60px 30px 40px 30px;
    background-position: 50% 25%;
    background-image: url(imagens/flores.jpeg);
}
