body {
    font-family: Baloo Tammudu 2;
}
.paragraph_apresentacao{
    color: rgba(0, 0, 0, 0.856);            
}
.descrition{
    color: black;
}
.button{
    background-color:rgba(0, 139, 139, 0.781);
    border-radius: 4px;
    padding: 15px 30px;
    color: black;
    text-decoration: none
}
.picture{
    border-radius: 50%;